body{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: bold;
        background-image: url("WhatsApp Image 2024-04-26 at 00.34.42_261f3cbd.jpg");
}
.main{
    width:500px;
    height:480px;
    background-color:rgb(128, 128, 128,0.3);
    padding:40px;;
    margin-left:420px;
    margin-top: 50px;;
}
.fname{
    padding:5px;
    padding-left:10px;
    width:200px;
    border:none;
    border-radius:10px;
    margin-left:20px;
}
.lname{
    padding:5px;
    padding-left:10px;
    width:200px;
    border:none;
    border-radius:10px;
    margin-left:20px;
}
.address{
    padding:5px;
    padding-left:10px;
    width:200px;
    border:none;
    border-radius:10px;
    margin-left:30px;
}
.type1{
    display:inline;
   margin-left: 20px;;
}
.king{
    border:none;
    border-radius:10px;;
}
.but{
    margin-left: 210px;
    margin-top:10px;
    width:100px;
    height:40px;
    border:none;
    border-radius: 20px;
    background-color: red;
    color:white;
}
.but:hover{
    background-color: green;
}
.but:active{
    background-color: green;
}
.newpara{
    margin-left:190px;
    font-size: 20px;;
}

